<!DOCTYPE html>
<html ng-app="eMSPApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>eMSP | Account</title>

    <!-- CSS -->
    @Styles.Render("~/Content/css")

    <!-- Base URL -->
    <base href="/">
</head>
<body>
    <div id="wrapper">
        <ui-view />
    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/config")
@Scripts.Render("~/bundles/services")
@Scripts.Render("~/bundles/controllers")
@Scripts.Render("~/bundles/plugin")
</html>